.loupe {
  margin: 0;  // Reset margins
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
  border: solid 1px #fff;
  outline: solid 1px #ccc;
}
.loupe .loupe__img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}
.loupe.active {
  cursor: zoom-out;
}
.loupe.active .loupe__img {
  opacity: 0;
}

/* Slick Slide Modifications for viewer */  
.loupe__slide { 
display: block;
height: auto;
width: 100%;
margin: 0 auto;
}
.slider-nav {
display: block;
width: 500px;
padding: 20px;
background:#eee;
text-align: center;
margin: 0 auto;
}
.slick-dots {
position: relative;
bottom: auto;
}
.slick-prev {
left: 25px;
}
.slick-next {
right: 25px;
}

.loupe-nav {
  &__item {
    position: relative;
    height: 80px;
    width: 80px;
    border: solid 1px white;
    margin: 10px;
    overflow: hidden;

    &--video::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Fontawesome";
      font-size: 1.5rem;
      color: #fff;
      content: "\f144"; //fa-play-circle-o
    }

    &.is-active {
      outline: solid 1px black;
    }

    @media (max-width: 767px) {
      display: inline-block;
      height: auto;
      width: auto;
      text-align: center;
      background: none !important; // Remove image
      border: none;
      outline: none;

      &::after {
        content: "\f10c"; //fa-circle-o
        font-family: "Fontawesome";
      }

      &--video {
        position: relative;
        top: auto;
        left: auto;

        &::after {
          display: inline-block;
          position: relative;
          top: auto;
          left: auto;
          transform: none;
          font-size: 1rem;
          color: initial;          
          content: "\f01d"; //fa-play-circle-o;
        }

        &.is-active {
          &::after {
            content: "\f144"; //fa-play-circle
          }
        }
      }

      &.is-active {
        outline: none;

        &::after {
          content: "\f111"; //fa-circle
        }
      }
    }
  }

  &__img {
    height: 100%; // Account for images that are not the correct aspect ratio

    // Hide thumbnail images on mobile
    @media (max-width: 767px) {
      display: none !important; // override Slick defaults 
    }
  }
}
