.loupe {
  margin: 0;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
  border: solid 1px #999;
  box-shadow: inset 0px 0px 0 1px #fff; }
  .loupe.is-active {
    cursor: zoom-out; }
    .loupe.is-active .loupe__img {
      opacity: 0; }
  .loupe__slide {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto; }
    .loupe__slide--video {
      height: 0; }
      .loupe__slide--video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
  .loupe__img {
    transition: opacity .5s;
    display: block;
    width: 100%; }

.loupe-main.slick-slider {
  margin-bottom: 0; }

.loupe-nav__item {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 10px;
  overflow: hidden; }
  .loupe-nav__item--video {
    overflow: hidden; }
    .loupe-nav__item--video .loupe-nav__img {
      height: 100%; }
    .loupe-nav__item--video::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Fontawesome";
      font-size: 1rem;
      color: #fff;
      content: "\f144"; }
  .loupe-nav__item.is-active, .loupe-nav__item.slick-current {
    border: solid 1px #999;
    box-shadow: inset 0px 0px 0 1px #fff; }
  @media (max-width: 767px) {
    .loupe-nav__item {
      display: inline-block;
      height: auto;
      width: auto;
      text-align: center;
      background: none !important; }
      .loupe-nav__item::after {
        content: "\f10c";
        font-family: "Fontawesome";
        color: #777; }
      .loupe-nav__item.is-active, .loupe-nav__item.slick-current {
        border: none;
        box-shadow: none; }
        .loupe-nav__item.is-active::after, .loupe-nav__item.slick-current::after {
          content: "\f111"; }
      .loupe-nav__item--video {
        position: relative;
        top: auto;
        left: auto; }
        .loupe-nav__item--video::after {
          display: inline-block;
          position: relative;
          top: auto;
          left: auto;
          transform: none;
          font-size: 1rem;
          color: #777;
          content: "\f01d"; }
        .loupe-nav__item--video.is-active::after, .loupe-nav__item--video.slick-current::after {
          content: "\f144"; } }
.loupe-nav__img {
  width: 100%; }
  @media (max-width: 767px) {
    .loupe-nav__img {
      display: none !important; } }
.loupe-nav *:focus {
  outline: none; }
.loupe-nav .slick-prev {
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0; }
  @media (max-width: 767px) {
    .loupe-nav .slick-prev {
      position: absolute;
      top: 50%;
      left: 15px; } }
  .loupe-nav .slick-prev::before {
    height: 1rem;
    font-family: "Fontawesome";
    font-size: 1rem;
    color: #777;
    content: '\f077'; }
    @media (max-width: 767px) {
      .loupe-nav .slick-prev::before {
        display: none; } }
.loupe-nav .slick-next {
  position: relative;
  margin: 0 auto;
  top: 100%;
  right: 0; }
  @media (max-width: 767px) {
    .loupe-nav .slick-next {
      position: absolute;
      top: 50%;
      right: 15px; } }
  .loupe-nav .slick-next::before {
    height: 1rem;
    font-family: "Fontawesome";
    font-size: 1rem;
    color: #777;
    content: '\f078'; }
    @media (max-width: 767px) {
      .loupe-nav .slick-next::before {
        display: none; } }
@media (max-width: 767px) {
  .loupe-nav {
    width: 50%;
    margin: 0 auto; } }

#s7_videoview.s7videoviewer {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=main.css.map */
