$mobile-max-width: 767px;
$tablet-max-width: 1023px;
$_loupe-color-light: #fff;
$_loupe-color-dark: #777;
$_loupe-color-border-selected: #999;
$_loupe-mobile-slide-height: 325px;
$_loupe-desktop-slide-height: 625px;
$_loupe-desktop-thumbnail-width: 89px;
$_loupe-desktop-thumbnail-height: 89px;
$_loupe-nav-font-family-icon: "Fontawesome";
$_loupe-nav-font-size-icon: 0.75rem;
$_loupe-nav-icon-spacing: 0.75rem;

/// Main loupe viewer styles
.loupe {
  margin: 0; // Reset margins
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;

  // Turn off focus effect
  &:focus {
    outline: none;
  }

  &.is-active {
    cursor: zoom-out;
    .loupe__img {
      opacity: 0;
    }
  }

  &__slide {
    display: block;
    max-height: 100%;
    margin: 0 auto;
  }

  &__img {
    transition: opacity 0.5s;
    display: block;
    max-width: 100%;

    @media (max-width: $tablet-max-width) {
        width: 100%;
    }
  }
}

/// Container for large product carousel of loupe viewers
.loupe-main {
  /// Loupe main: Slick slide overrides
  &.slick-slider {
    margin-bottom: 0; // Slick default: 30px

    @media (max-width: $tablet-max-width) {
      margin-bottom: 1.625rem; // Match offset of dots bottom position
    }
  }

  div#loupe-viewer_controls {
    &.s7controlbar {
      display: none;
    }
  }

  /// Slick overrides: Replace default 'dot' icon and
  /// Add support for video icon
  .slick-dots {
    bottom: -1.625rem;  // Override carousel.less style

    li {
      margin: 0 $_loupe-nav-icon-spacing/2;

      button {
        &::before {
          font-family: $_loupe-nav-font-family-icon;
          font-size: $_loupe-nav-font-size-icon;
          color: $_loupe-color-dark;
          content: "\f10c"; // fa-circle-o
          text-shadow: none; // Override slick default
        }
      }

      &.slick-is-video {
        button {
          &::before {
            content: "\f01d"; //fa-play-circle-o
          }
        }
      }

      &.slick-active {
        button {
          &::before {
            color: $_loupe-color-dark;
            content: "\f111"; //fa-circle
          }
        }

        &.slick-is-video {
          button {
            &::before {
              content: "\f144"; //fa-play-circle
            }
          }
        }
      }
    }
  }
}

/// Loupe navigation
.loupe-nav {
  width: $_loupe-desktop-thumbnail-width; // Force width for nav thumbnails on tablet / mobile
  height: $_loupe-desktop-slide-height; // Force height for nav thumbnails on tablet / mobile

  &__item {
    position: relative;
    max-width: $_loupe-desktop-thumbnail-height;
    max-height: $_loupe-desktop-thumbnail-height;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;

    /// Navigation for video item
    &--video {
      overflow: hidden;
      .loupe-nav__img {
        height: 100%;
      }

      /// Overlay play button on video thumbnail
      &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $_loupe-nav-font-family-icon;
        font-size: $_loupe-nav-font-size-icon;
        color: $_loupe-color-light;
        content: "\f144"; //fa-play-circle-o
      }
    }

    &.is-active,
    &.slick-slide.slick-current {
      border: solid 1px $_loupe-color-border-selected;
      box-shadow: inset 0px 0px 0 1px $_loupe-color-light;
    }

    @media (max-width: $tablet-max-width) {
      display: inline-block;
      width: auto;
      text-align: center;
      background: none !important; // Remove image
      margin-top: 1rem; // Add space between dots and image

      &::after {
        content: "\f10c"; //fa-circle-o
        font-family: $_loupe-nav-font-family-icon;
        color: $_loupe-color-dark;
      }

      &.is-active,
      &.slick-slide.slick-current {
        border: none;
        box-shadow: none;
        &::after {
          content: "\f111"; //fa-circle
        }
      }

      &--video {
        position: relative;
        top: auto;
        left: auto;
        &::after {
          display: inline-block;
          position: relative;
          top: auto;
          left: auto;
          transform: none;
          font-size: $_loupe-nav-font-size-icon;
          color: $_loupe-color-dark;
          content: "\f01d"; //fa-play-circle-o
        }

        &.is-active,
        &.slick-slide.slick-current {
          &::after {
            content: "\f144"; //fa-play-circle
          }
        }
      }
    }
  }
  &__img {
    max-width: $_loupe-desktop-thumbnail-height;
    max-height: $_loupe-desktop-thumbnail-height;

    /// Account for images that are not the correct aspect ratio
    /// Hide thumbnail images on mobile
    @media (max-width: $tablet-max-width) {
      display: none !important; // override Slick defaults
    }
  }

  /// Turn off focus outline for all nav links
  & *:focus {
    outline: none;
  }

  /// Shrink width of navigation on tablet
  @media (max-width: $tablet-max-width) {
    width: 50%;
    height: 40px; // Force height for nav "dots" on tablet / mobile
    margin: 0 auto;
  }

  /// Override slick control styles
  &.slick-slider.sticky-top {
    // Override position:relative being set by slick
    position: sticky;
  }

  .slick-list {
    min-height: $_loupe-desktop-slide-height; // Fix height bug
    @media (max-width: $mobile-max-width) {
      min-height: 320px;
    }
    @media (max-width: $tablet-max-width) {
      min-height: 420px;
    }
  }

  .slick-prev {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;

    @media (max-width: $tablet-max-width) {
      position: absolute;
      top: 50%;
      left: 15px;
    }

    &::before {
      height: $_loupe-nav-font-size-icon;
      font-family: $_loupe-nav-font-family-icon;
      font-size: $_loupe-nav-font-size-icon;
      color: $_loupe-color-dark;
      content: "\f077"; //fa-chevron-up

      @media (max-width: $tablet-max-width) {
        display: none; // content: '\f053'; //fa-chevron-left
      }
    }
  }
  .slick-next {
    position: relative;
    margin: 0 auto;
    top: 100%;
    right: 0;

    @media (max-width: $tablet-max-width) {
      position: absolute;
      top: 50%;
      right: 15px;
    }

    &::before {
      height: $_loupe-nav-font-size-icon;
      font-family: $_loupe-nav-font-family-icon;
      font-size: $_loupe-nav-font-size-icon;
      color: $_loupe-color-dark;
      content: "\f078"; //fa-chevron-down

      @media (max-width: $tablet-max-width) {
        display: none;
      }
    }
  }
}

/// Container for third-party videos
/// TODO: Move to a different SCSS file (object layer)
.embed-responsive--16-9 {
  position: relative;
  padding-top: 56.25%;
  margin-top: 21%; // ~ (1 - 9/16) / 2 (50% of full height - minus aspect ratio)

  // Override defaults when viewing S7 videos
  &.s7videoviewer {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: $_loupe-desktop-slide-height;
  }

  /// Center within #loupe-viewer
  & #loupe-viewer_container.s7videoviewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & #loupe-viewer_videoPlayer.s7videoplayer {
    div {
      &:focus {
        outline: none; // Disable glowing blue outline
      }
    }
  }

  @media (max-width: $mobile-max-width) {
    height: $_loupe-mobile-slide-height;
    margin-top: 0;
  }

  /// Make iframe for embedded video always full-width
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}