.pdp-thumbs {
  text-align: center;
}
.pdp-thumb {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;    
    border: 1px solid #fff;
    max-width: 50px;
    width: auto;
}

@media (max-width: 991.98px) {
  .pdp-thumb:after {
    display: block;
    max-width: 44px;
    min-width: 30px;
    height: 44px;
    color: #999;
    font-family: 'FontAwesome';
    content: '\f1db'; /* fa-circle-thin */
  }
  .pdp-thumb img {
    display: none;
    color: black;
  }
  .pdp-thumb.pdp-thumb--selected {
    outline: none;
  }
  .pdp-thumb.pdp-thumb--selected:after {
    font-family: 'FontAwesome';
    content: '\f111'; /* fa-circle */ 
  }
  .pdp-thumb.pdp-thumb--video::after {
    font-family: 'FontAwesome';
    content: '\f01d'; /* fa-play-circle */   
  }
  .pdp-thumb.pdp-thumb--selected.pdp-thumb--video::after {
    font-family: 'FontAwesome';
    content: '\f144'; /* fa-play-circle */   
  }

}

@media (min-width: 992px){
  .pdp-thumb {
    display: block;
  }
  .pdp-thumb img {
    display: block;
  }
  .pdp-thumb.pdp-thumb--selected {
    outline: 1px solid #ccc;
  }
  .pdp-thumb.pdp-thumb--video::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #fff;
    content: '\f01d';
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    text-align: center;
  }
}

.loupe {
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: loupe-in;
    border: solid 1px #fff;
    outline: solid 1px #ccc;
  }
  .loupe .loupe__img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  .loupe.active {
    cursor: loupe-out;
  }
  .loupe.active .loupe__img {
    opacity: 0;
  }
  
/* Slick Slide Modifications for viewer */  
.loupe__slide { 
  display: block;
  height: auto;
  width: 500px;
  margin: 0 auto;
}
.slider-nav {
  display: block;
  width: 500px;
  padding: 20px;
  background:#eee;
  text-align: center;
  margin: 0 auto;
}
.slick-dots {
  position: relative;
  bottom: auto;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
